::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f1115;
}
::-webkit-scrollbar-thumb {
  background: #22252d;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333842;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
